@media only screen and (max-width: 600px) {

  nav li {
    display: none;
  }

  .icon-menu{
    font-size: 2em;
    width: 30%;
    display: block;
  }

  .hamburger-nav li a {
    padding: 10px;
  }
}

@media only screen and (min-width: 600px){

  body {
    border: black solid 5px;
  }

  .icon-menu {
    display: none;
  }

  nav ul {
    height: 2em;
    display: inline;
    position: absolute;
  }

  nav .dropdown {
    display: inline;
    height: auto;
  }
}
