/*Color palete
color: #493843
color: #61988E
color: #92977E
color: #E4572E
color: #EAEFD3
*/

body {
  position: relative;
  background-color: #493843;
  font-family: 'Zilla Slab', serif;
  border:#E4572E solid 8px;
  margin: auto;
  color: white;
}

header {
  display: block;
}

header h1 {
  text-align: center;
}

.projectscontainer a {
  display: block;
}

img {
  width: 100%;
  max-width: 400px;
}

li a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  display: block;
  width: 30%;
  background-color: orange;
}

.fa-bars {
  float: left;
  margin-top: -50px;
  margin-left: 10px;
}

.unclicked .dropdown {
  display: none;
  font-size: 1em;
  padding: 9%;
}

.clicked .dropdown {
  display: block;
  font-size: 1em;
  padding: 9%;
}

section {
  padding: 10px;
}

footer {
  min-height: 75px;
  color: #493843;
  background-color: #EAEFD3;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
}
