@media only screen and (max-width: 600px) {

  nav li {
    display: none;
  }

  .icon-menu{
    font-size: 2em;
    width: 30%;
    display: block;
  }

  .fa-bars {
    float: left;
    margin-top: -50px;
    margin-left: 10px;
  }

  .unclicked .dropdown {
    display: none;
    font-size: 1em;
    padding: 9%;
  }

  .clicked .dropdown {
    display: block;
    font-size: 1em;
    padding: 9%;
  }

  .hamburger-nav li a {
    padding: 10px;
  }
}

@media only screen and (min-width: 600px){

  body {
    border: black solid 5px;
  }

  .icon-menu {
    display: none;
  }

  nav ul {
    height: 2em;
    display: inline;
    position: absolute;
  }

  nav .dropdown {
    display: inline;
    height: auto;
  }
}
